*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Overall header styles */
.fixed{
    position: sticky;
    top: 0;
    z-index: 100;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.5rem; /* Adjust padding as needed */
  background-color: #00010a;
}

/* Logo container styles */
.logo_container {
  display: flex;
  align-items: center;
}

.logo_container img {
  width: 100px; /* Adjust logo width as needed */
  height: auto;
  padding-top: 15px;
}

/* Delivery container styles */
.delivery {
  display: flex;
  align-items: center;
  margin-left: 1rem; /* Adjust margin as needed */
}

.delivery span {
  margin-right: 5px; 
  color: whitesmoke;/* Adjust spacing as needed */
}

.delivery p {
  font-size: 0.9rem; /* Adjust font size as needed */
  margin: 0;
  color: whitesmoke;
}

/* Search container styles */
.search {
  display: flex;
  align-items: center;
  position: relative; /* Needed for search icon positioning */
  flex-grow: 0.85;

}

.search select {
  border: 1px solid #ddd;
  padding: 6.5px 8px; /* Adjust padding as needed */
  border-radius: 3px; /* Adjust border radius as needed */
  font-size: 0.9rem; /* Adjust font size as needed */
}
.search input{
  flex-grow: 1;
  padding: 7px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #fff;
}



.search svg {
    padding: 4px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background: #febd69;
    color: #1a1a1a;
}

.search svg:hover {
    background-color: #d49644;
}


/* Order container styles */
.order_container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 10px;
}

.order_container a {
  text-decoration: none;
  color: whitesmoke;
  margin-left: 0.2rem; /* Adjust margin as needed */
}

.order_container a:hover {
  opacity: 0.8;
}

.language img {
  width: 40px; /* Adjust flag icon width as needed */
  height: auto;
  margin-right: 5px; /* Adjust spacing as needed */
}



.account,
.order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account p,
.order p {
  font-size: 0.8rem; /* Adjust font size as needed */
  color: whitesmoke;
  margin-bottom: 2px; /* Adjust spacing as needed */
}

.cart {
    position: relative;
    
}
.header-cart-icon{
font-size: 50px;
}

.cart span {
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    background-color: #1a1a1a;
    left: 23px;
    color: orange;
}
.logo_container a:hover,
.delivery:hover,
.order_container a:hover,
.lower-header-section ul li:hover {
    border: 1px solid white;
    border-radius: 3px;
}
.lower-header-section {
    background-color: #232f3e;
    color: white;
    height: 40px;
}



.lower-header-section {
  margin-top: 0;
  padding: 15px; /* Adjust padding as needed */
}


.lower-header-section ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.lower-header-section ul li {
    padding: 1px;
}

.lower-header-section ul li:first-child {
    display: flex;
    gap: 2px;
    align-items: center;
}
